extends layout
	
block menu
	- var ref_page='home'

block content
	h1 Home
	p Welcome to the Daily Drawing Drill webpage!
	p You like to practice drawing with daily exercises but end up doing the same ones over and over? Well, you've come to the right place!
	p	Just choose if you want a simple daily drill or a more elaborate weekly schedule 
		span.to_come (yet to come) 
		span and let the incredibly complex algorithms hidden behind this page find you a new way to improve your skills!
	p	You can generate new drills on the fly, lock the features you like to keep just by clicking on them, adjust how the drill generator works 
		span.to_come (yet to come) 
		span and much more....
	p	Enjoy and have fun drawing! 