extends layout

block head
	script(src='./javascripts/libs/require/require.js',type="text/javascript",charset="utf-8",data-main='./javascripts/home')

block content
	input(type='hidden',id='branches',value=branches)
	a#reload