doctype 5
html
	head
	meta(name='keywords', value='drawing, exercise, exercises, drawing exercise, drawing exercises, drawing drill, drawing practice, pose, reference, digital painting, pencils, watercolors, markers, values, lines, shading')
	title= 'The Daily Drawing Drill'
	link(rel='stylesheet', href='/stylesheets/style.css')
	include ../public/javascripts/google_analytics.js
	
	block head
	body
		#content-container
			#menu-container
				block menu
				include menu.jade
			#page-content
				block content
			#footer
				img(src='/images/copyright.png')