doctype 5
html
	head
	title= 'The Daily Drawing Drill'
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/libs/jquery/jquery-1.10.1.min.js')
	script(src='/javascripts/libs/d3/d3.v3.min.js')
	block head
	body
		#content-container
			#page-content
				block content