case ref_page
	when 'home'
		img.active(src='/images/menu_home_active.png', title='Home', width='80px', height='80px')
		img.clickable(src='/images/menu_daily_default.png', title='Daily drill', width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_default.png"')
		img.clickable(src='/images/menu_weekly_default.png', title='Weekly drill', width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_default.png"')
		img.clickable(src='/images/menu_settings_default.png', title='Settings', width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_default.png"')
		img.clickable(src='/images/menu_donate_default.png', title='Donate', width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_default.png"')
		img.clickable(src='/images/menu_about_default.png', title='About', width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_default.png"')
	when 'daily'
		img.clickable(src='/images/menu_home_default.png', title='Home', width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_default.png"'))
		img.active(src='/images/menu_daily_active.png', title='Daily drill', width='80px', height='80px')
		img.clickable(src='/images/menu_weekly_default.png', title='Weekly drill', width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_default.png"')
		img.clickable(src='/images/menu_settings_default.png', title='Settings', width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_default.png"')
		img.clickable(src='/images/menu_donate_default.png', title='Donate', width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_default.png"')
		img.clickable(src='/images/menu_about_default.png', title='About', width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_default.png"')
	when 'weekly'
		img.clickable(src='/images/menu_home_default.png', title='Home', width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_default.png"'))
		img.clickable(src='/images/menu_daily_default.png', title='Daily drill', width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_default.png"')
		img.active(src='/images/menu_weekly_active.png', width='80px', title='Weekly drill', height='80px')
		img.clickable(src='/images/menu_settings_default.png', title='Settings', width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_default.png"')
		img.clickable(src='/images/menu_donate_default.png', title='Donate', width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_default.png"')
		img.clickable(src='/images/menu_about_default.png', title='About', width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_default.png"')
	when 'settings'
		img.clickable(src='/images/menu_home_default.png', title='Home', width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_default.png"'))
		img.clickable(src='/images/menu_daily_default.png', title='Daily drill', width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_default.png"')
		img.clickable(src='/images/menu_weekly_default.png', title='Weekly drill', width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_default.png"')
		img.active(src='/images/menu_settings_active.png', title='Settings', width='80px', height='80px')
		img.clickable(src='/images/menu_donate_default.png', title='Donate', width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_default.png"')
		img.clickable(src='/images/menu_about_default.png', title='About', width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_default.png"')
	when 'about'
		img.clickable(src='/images/menu_home_default.png', title='Home', width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_default.png"'))
		img.clickable(src='/images/menu_daily_default.png', title='Daily drill', width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_default.png"')
		img.clickable(src='/images/menu_weekly_default.png', title='Weekly drill', width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_default.png"')
		img.clickable(src='/images/menu_settings_default.png', title='Settings', width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_default.png"')
		img.clickable(src='/images/menu_donate_default.png', title='Donate', width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_default.png"')
		img.active(src='/images/menu_about_active.png', title='About', width='80px', height='80px')
	when 'donate'
		img.clickable(src='/images/menu_home_default.png', title='Home', width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_default.png"'))
		img.clickable(src='/images/menu_daily_default.png', title='Daily drill', width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_default.png"')
		img.clickable(src='/images/menu_weekly_default.png', title='Weekly drill', width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_default.png"')
		img.clickable(src='/images/menu_settings_default.png', title='Settings', width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_default.png"')
		img.active(src='/images/menu_donate_active.png', title='Donate', width='80px', height='80px')
		img.clickable(src='/images/menu_about_default.png', title='About', width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_default.png"')