extends layout

block head
	meta(name='description', value='The Daily Drawing Drill: adjust how the drills are generated, modify the weight of each possible feature and adapt the tool at your needs!')
	meta(name='title', value='The Daily Drawing Drill: Settings')
	
block menu
	- var ref_page='settings'

block content
	h1 Settings
	p Under construction... 