extends ../layout

block head
	meta(name='description', value='The Daily Drawing Drill: drawing exercises randomly generated to help improve your drawing skills! Practice your drawing with different exercises about styles, techniques, ambiance...')
	meta(name='title', value='The Daily Drawing Drill: Home')
	
	
block menu
	- var ref_page='home'

block content
	h1 Bienvenue
	p Bienvenue sur 'The Daily Drawing Drill'!
	p Vous aimez pratiquer le dessin avec des exercices quotidiens mais vous finissez toujours par faire et refaire les m&ecirc;mes? Vous &ecirc;tes sur la bonne page!
	p	Choisissez si vous souhaitez r&eacute;aliser un  
		a(href='/daily') simple exercice quotidien 
		span ou un 
		a(href='/weekly') programme sur 7 jours 
		span  et laissez les algorithmes incroyablement complexes qui se cachent derriere cette page vous trouver de nouvelles mani&egrave;res de progresser!
	p	Vous pouvez g&eacute;n&eacute;rer de nouveaux exercices &agrave; la vol&eacute;e, bloquer des &eacute;l&eacute;ments que vous souhaitez conserver en cliquant dessus, configurer 
		a(href='/settings') comment le g&eacute;n&eacute;rateur fonctionne 
		span et m&ecirc;me plus....
	p	Profitez bien et amusez-vous en dessinant! 
	p.signature R3nD