/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Finger+Paint");
/*
 * Store the main color and
 * background color as variables
 */
/*
 * Common html elements and main styling
 */
body {
  font-family: 'Finger Paint';
  font-size: 12px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: auto;
  margin-top: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000;
  height: 100%;
}
html {
  height: 100%;
}
h1 {
  color: #e06284;
  font-weight: normal;
  font-size: 26px;
  padding-bottom: 12px;
}
a:link,
a:visited {
  color: #455ba1;
  text-decoration: none;
}
a:hover {
  color: #e06284;
}
.signature {
  float: right;
}
/*
 * Main layout
 */
#menu-container {
  width: 80px;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  left: 180px;
  top: 150px;
}
#page-content {
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  left: 300px;
  top: -380px;
  width: 520px;
}
#content-container {
  overflow: hidden;
  width: 1000px;
  height: 100%;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  background: #fff url("../images/bg.png") no-repeat;
}
#footer {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}
#paypal_form {
  width: 50%;
  margin: 30px 100px 0px auto;
}
#mailto {
  display: inline;
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
/*
 * Left menu
 */
.clickable:hover {
  cursor: pointer;
}
.active {
  background: url("../images/menu_active.png");
  background-repeat: no-repeat;
  background-position: 10px 68px;
}
/*
 * Drills: Daily and Weekly
 */
.leaf_text {
  fill: #455ba1;
}
.leaf_text:hover {
  fill: #e06284;
  cursor: pointer;
}
.day {
  font-weight: normal;
  font-size: 20px;
}
/*
 * Buttons
 */
#reload_day {
  display: block;
  position: absolute;
  left: 354px;
  top: 26px;
}
#reload {
  display: block;
  position: absolute;
  left: 403px;
  top: 26px;
}
#save_cookie {
  display: block;
  position: absolute;
  left: 448px;
  top: 10px;
}
#default {
  display: block;
  position: absolute;
  left: 398px;
  top: 26px;
}
#lock_free {
  display: block;
  position: absolute;
  left: 448px;
  top: 24px;
}
#export {
  display: block;
  position: absolute;
  left: 492px;
  top: 24px;
}
#previous {
  display: none;
  position: absolute;
  left: 85px;
  top: 92px;
}
#next {
  display: block;
  position: absolute;
  left: 385px;
  top: 92px;
}
/*
 * Settings section
 */
.slider:hover {
  cursor: pointer;
}
.invisible {
  display: none;
  fill-opacity: 0;
  stroke-width: 0px;
}
.leaf_name {
  font-size: 10px;
  margin-bottom: 0.3em;
}
.inactive_title {
  fill: #455ba1;
}
.inactive_title:hover {
  fill: #e06284;
  cursor: pointer;
}
.active_title {
  fill: #000;
}
