/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Finger+Paint");
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Finger Paint';
  font-size: 14px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: auto;
  margin-top: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000;
  height: 100%;
}
html {
  height: 100%;
}
#menu-container {
  width: 80px;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  left: 180px;
  top: 150px;
}
#page-content {
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  left: 300px;
  top: -380px;
  width: 520px;
}
#content-container {
  overflow: hidden;
  width: 1000px;
  height: 100%;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  background: #fff url("../images/bg.png") no-repeat;
}
#footer {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}
.clickable:hover {
  cursor: pointer;
}
.active {
  background: url("../images/menu_active.png");
  background-repeat: no-repeat;
  background-position: 10px 68px;
}
.leaf {
  fill: #455ba1;
}
.leaf:hover {
  fill: #ec6162;
  cursor: pointer;
}
a#reload {
  display: block;
  position: absolute;
  background: url("../images/reload.png");
  background-repeat: no-repeat;
  width: 52px;
  height: 58px;
  left: 440px;
  top: 240px;
}
a#reload:hover {
  background: url("../images/reload_hover.png");
  cursor: pointer;
}
a#reload:active {
  background: url("../images/reload_click.png");
}
h1 {
  color: #455ba1;
  font-weight: normal;
  font-size: 26px;
  padding-bottom: 20px;
}
#paypal_form {
  width: 50%;
  margin: 30px 100px 0px auto;
}
.to_come {
  color: #455ba1;
  font-style: italic;
}
#mailto {
  display: inline;
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.signature {
  float: right;
}
