/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Finger+Paint')

/*
 * Store the main color and
 * background color as variables
 */
main-ink-color = #000000
background-color = #f4f4f4

body
  font-family 'Finger Paint'
  font-size 14px
  font-weight normal
  text-rendering optimizeLegibility
  margin auto
  margin-top 0
  padding 0
  background-color background-color
  color main-ink-color
  height 100%

html
  height 100%
  
#menu-container
  width 80px
  display block
  margin 0
  padding 0
  position relative
  left 180px
  top 150px
  
#page-content
  overflow hidden
  display block
  margin 0
  padding 0
  position relative
  left 300px
  top -380px
  width 520px

#content-container
  overflow hidden
  width 1000px
  height 100%
  margin auto
  margin-top 0px
  padding 0px
  background #fff url(../images/bg.png) no-repeat
  
#footer
  display inline
  position absolute
  bottom 0
  right 0

.clickable:hover
  cursor pointer
  
.active
  background url(../images/menu_active.png)
  background-repeat no-repeat
  background-position 10px 68px
  

.leaf
  fill #455ba1
      
.leaf:hover
  fill #e06284
  cursor pointer

#reload_day
  display block
  position absolute
  left 403px
  top 22px
  
#reload
  display block
  position absolute
  left 448px
  top 22px
  

#lock_free
  display block
  position absolute
  left 488px
  top 22px
  
#previous
  display none
  position absolute
  left 85px
  top 92px
  
#next
  display block
  position absolute
  left 385px
  top 92px

  
h1
  color #e06284
  font-weight normal
  font-size 26px
  padding-bottom 20px
  
.day
  font-weight normal
  font-size 20px
  
#paypal_form
  width 50%
  margin 30px 100px 0px auto
  
.to_come
  color #e06284
  font-style italic
  
#mailto
  display inline
  position absolute
  padding 0
  margin 0
  margin-left 10px
  
.signature
  float right
  
