/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Finger+Paint')

/*
 * Store the main color and
 * background color as variables
 */
main-ink-color = #000000
background-color = #f4f4f4

body
  font-family 'Finger Paint'
  font-size 20px
  margin auto
  margin-top 0
  background-color background-color
  color main-ink-color
  height 100%

#content-container
  display block
  width 1000px
  height 1000px
  margin auto
  margin-top 0px
  padding-top 0px
  background: #fff url(../images/bg.png) no-repeat
    
#page-content
  display block
  position relative
  margin 0px
  padding 0px
  left 300px
  top 250px