/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Finger+Paint");
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Finger Paint';
  font-size: 20px;
  margin: auto;
  margin-top: 0;
  background-color: #f4f4f4;
  color: #000;
  height: 100%;
}
#content-container {
  display: block;
  width: 1000px;
  height: 1000px;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
  background: #fff url("../images/bg.png") no-repeat;
}
#page-content {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 320px;
  top: 250px;
}
a#link {
  display: block;
  position: relative;
  background: url("../images/reload.png");
  background-repeat: no-repeat;
  width: 52px;
  height: 58px;
  left: 420px;
  top: 20px;
}
a#link:hover {
  background: url("../images/reload_hover.png");
  cursor: pointer;
}
