extends ../layout

block head
	meta(name='description', value='The Daily Drawing Drill: what is it all about, why I made this page, what I intend to achieve!')
	meta(name='title', value='The Daily Drawing Drill: About')
	
block menu
	- var ref_page='about'

block content
	h1 About
	p I've made this webpage for those who, just like me, can't manage to get out of their drawing exercises routine. I thought it's easier to get to try something new if somebody else tells you to. And if it's done in a nicely designed web page, well, even better!
	p I've tried to make the site the best I could but I may have let pass some bugs, some typos or some poorly google-translated english expressions.
	p The site has been optimized for Firefox mainly, and for Google Chrome to a lesser extent. It has not been tested on Microsoft IE since I'm on Mac OS and I really wanted to spare me the headache...
	p The drill generator may also not be that accurate and may offer you to try some inconsistent exercise (please don't be offended if you get the 'draw some fantastic creature from oneself' drill).
	p So if you have any comment, remark or suggestion, please let me know by clicking here:
		img.clickable(id='mailto', src='/images/mailto.png', title='Send mail', width='32px', height='24px', onclick='window.open("mailto:renaud.despinois@gmail.com")', onmouseover='this.src="/images/mailto_hover.png"', onmouseout='this.src="/images/mailto.png"')
	p I really hope this site can help someone out there!
	p.signature R3nD