extends ../layout

block head
	meta(name='description', value='The Daily Drawing Drill: drawing exercises randomly generated to help improve your drawing skills! Practice your drawing with different exercises about styles, techniques, ambiance...')
	meta(name='title', value='The Daily Drawing Drill: Home')
	
	
block menu
	- var ref_page='home'

block content
	h1 Welcome
	p Welcome to the Daily Drawing Drill webpage!
	p You like to practice drawing with daily exercises but end up doing the same ones over and over? Well, you've come to the right place!
	p	Just choose if you want a 
		a(href='/daily') simple daily drill 
		span or a more elaborate 
		a(href='/weekly') weekly schedule 
		span and let the incredibly complex algorithms hidden behind this page find you a new way to improve your skills!
	p	You can generate new drills on the fly, lock the features you like to keep just by clicking on them, adjust 
		a(href='/settings') how the drill generator works 
		span and much more....
	p	Enjoy and have fun drawing! 
	p.signature R3nD