extends ../layout

block head
	meta(name='description', value='The Daily Drawing Drill: generate a random drill and get drawing! Lock the features you would like to keep and generate an infinite number of combination using styles, techniques, ambiance...')
	meta(name='title', value='The Daily Drawing Drill: Daily drill')
	script(src='/javascripts/libs/lodash/lodash.min.js')
	script(src='/javascripts/libs/d3/d3.v3.min.js')
	script(src='/javascripts/libs/require/require.js',type="text/javascript",charset="utf-8",data-main='/javascripts/daily')
	
block menu
	- var ref_page='daily'

block content
	h1 Ejercicio diario
	input(type='hidden',id='branches',value=branches)
	p Aquí tienes el ejercicio:
	#svg-container
	img.clickable(id='reload', src='/images/reload.png', title='Nuevo ejercicio', width='28px', height='31px', onmouseover='this.src="/images/reload_hover.png"', onmouseout='this.src="/images/reload.png"'))
	img.clickable(id='lock_free', src='/images/lock_free.png', title='Desbloquear', width='30px', height='34px', onmouseover='this.src="/images/lock_free_hover.png"', onmouseout='this.src="/images/lock_free.png"'))